
#plx-reporting-json {
    margin-top: 40px;
    background-color: ghostwhite;
    border: 1px solid silver;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 4px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}